# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# VS Code settings
.vscode/

# Logs and temporary files
*.log
*.tmp
*.swp
*_cache

# Python egg metadata and distributions
*.egg-info/
dist/
build/

todo*
to_do*
output/
